header {
    height: 10vh;
    display: flex;
    align-items: center;
    background: linear-gradient( rgba(255, 194, 72, 0.614), rgba(255, 185, 72, 0.34));
    color: #000;
    font-size: 1.2em;

    h1.logo {
        flex-grow: 1;
    }

    nav {
        a {
            &:not(:last-child) {
                margin-right: 10px;
            }

            &.active {
                color: darkred;
            }
        }
    }
}
